<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="AWS_map" connectionString="Server=kip-awareness.cnnxpazukb57.eu-west-1.rds.amazonaws.com;uid=Administrator;pwd=ki.3Uxgdb)j;Database=Awareness_Map" providerName="System.Data.SqlClient" />
  </connectionStrings>
	<appSettings>
		<add key="Twitter_consumer_secret" value="jP4hbNsJjKGrbIBwDgqXf9Kc49EFwdlNwjm1sLDo4XTSIyoUH8"/>
		<add key="Twitter_consumer_key"    value="qU3yyVX5tjymvhZ3BcI67ij6K"/>
		<add key="Facebook_app_id"         value="1442232072771992"/>
		<add key="Facebook_app_secret"     value="ed441ba62132109bbb705eb0e8bb6138"/>
		<add key="Youtube_client_id"       value="560333471353-4jemti20mjgumkh51mnba3imn15v2j1s.apps.googleusercontent.com"/>
		<add key="Youtube_client_secret"   value="T2mSutBcodtu96FkjY4xmFw4"/>
		<add key="Temboo_account"          value="keepitpumping"/>
		<add key="Temboo_application"      value="KeepItPumping-Awareness-Map"/>
		<add key="Teeboo_application_key"  value="692238482e2b4bc7b62d09234193c202"/>
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>